<h4> The ultimate secret about life that no one wants you to know and that you don't want to admit is that it's all for nothing--everything that you do in life will return to the source from which it came.</h4>

<%= link_to 'Log Out', '/sessions/logout', method: :post %>